@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";
.header {

	height: 80px;
	padding: 0 30px;
	background: $bgColor;
	color: $primaryColor;
@include flex(row, flex-end, center, nowrap);
	opacity: 0.99;
	z-index: 999;
	left: 0;
	right: 0;
	position: fixed;
}
