@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/variables.scss";
@import "../common/styles/button/Button.module.scss";

.contact {
  position: relative;
  background: $bgColor;
  height: 80vh;
  .contact h3 {
    margin-bottom: 40px;
  }
  .contactContainer {
    width: 100%;
    @include container();
    @include flex(column, center, center, nowrap);
  }
  .contactForm {
    @include flex(column, flex-start, center, nowrap);
    min-width: 100%;
    margin-top: 60px;
    .error{
      color: #c74646;
      font-size: 18px;

    }
    @media screen and (max-width: 680px) {
      width: 100%;

    }
  }
.disabled{
  background: #1f1f20 !important;
  min-height: 160px;
  padding: 15px;
  resize: none;
  width: 60%;
  &:hover{
    cursor: wait;
  }
}
  .disabledInput{
    background: #1f1f20 !important;
    width: 60%;
    margin-bottom: 1rem;
    &:hover{
      cursor: wait;
    }
  }
  .contactTextArea {
    min-height: 160px;
    padding: 15px;
    resize: none;
    width: 60%;
  }

  .contactInput {
    width: 60%;
    margin-bottom: 1rem;
    padding: 10px;
    background: $bgSecondColor;
    color: $textColor;

    &:focus {
      outline: 1px solid transparent;
      transition: all 0.4s ease-in-out 0s;
    }

    @media screen and (max-width: 680px) {
      width: 100%;
    }

    &:-webkit-autofill {
      border: 1px solid #4a4a4a;
      -webkit-text-fill-color: #495057;
      -webkit-box-shadow: 0 0 0 1000px #252527 inset;
      transition: background-color 5000s ease-in-out 0s;
      &:focus {
        border: 2px solid $bgSecondColor;
      }
    }
  }

  button[type="submit"] {
    @extend .btn;
    align-self: center;
    background: transparent;
    margin-top: 30px;
  }
}
