@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";
.footer {
	min-height: 30vh;
	text-align: center;
	padding: 40px 0;
	color: $textColor;
	@include flex(row, center, stretch, nowrap);
	.footerContainer {
		@include container();
		@include flex(column, flex-start, center, nowrap);

	}
	.footerTitle {
		@include text($primaryFont, 22px, 1, 400);
		letter-spacing: 3px;
		font-weight: 700;
	}
	.footerItems {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}
	.footerItem {
		padding: 10px;
		text-decoration: none;
		align-self: center;
		@include text($secondaryFont, 14px, 1.8, 400);
		&:hover{
			outline: 1px solid $textColor;
			transition: all 0.3s ease-in-out 0s;
			box-shadow: 3px 3px $bgColor;
		}
	}
	.copyright {
		color: rgba(255, 255, 255, 0.5);
	}
}
