@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";
.projectsBlock {
	min-height: 100vh;
	display: flex;
	.projects {
		position: relative;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		align-items: flex-start;
		flex-wrap: wrap;

	}
}
